

<!DOCTYPE html>
<html>

<head>
    <title>problem</title>
    <meta http-equiv='refresh' content='15;url=http://192.168.0.35:8000/ending2'>
    <script type="text/javascript">
    $(document).ready(function(e) {
    var refresher = setInterval("update_content();",1500); // 30 seconds
        })
        function update_content(){

            $.ajax({
            type: "GET",
            url: "http://192.168.0.35:8000/ending2", // post it back to itself - use relative path or consistent www. or non-www. to avoid cross domain security issues
            cache: false, // be sure not to cache results
            })
            .done(function( page_html ) {
                alert("LOADED");
            var newDoc = document.open("text/html", "replace");
            newDoc.write(page_html);
            newDoc.close();

            });   

        }
            function disableBack() { window.history.forward(); }
            setTimeout("disableBack()", 0);
            window.onunload = function () { null };

            function setColor(color){
             document.getElementById(color).style.color="white";
            }

    </script>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body bgcolor='black'>
<div class="side" style="color:red; font-size:150%; font-family: font2;">
    When the altar is completed, black smoke rises with a stinging odor.<br><br>
    The same smoke came out of my colleagues <br><br>who were lying down next to me.<br><br>
    Soon, it seeps into the altar.
</div> 
<div class="middle">
    <img src ="../static/images/smog.gif">
    <div class="typing-txt">
    <ul>
        <li>제단을 완성하자, 코를 찌르는 듯한 악취와 함께 검은 연기가 피어오른다.</li>
        <li>옆에 쓰러져있던 동료들에게서도 같은 연기가 흘러나오더니 
            <li>이내 제단 쪽으로 스며든다.</li>
    </ul>
    </div>
<div class="typing" style="color:red; font-size:200%;">
   <ul>
        <li></li>
        <li></li>
     <li></li>

  </ul>
</div> 
</div>
</body>
</html>
