

<!DOCTYPE html>
<html>

<head>
    <title>problem</title>
    <meta http-equiv="expires" content="0">
    <script type="text/javascript">
            function disableBack() { window.history.forward(); }
            setTimeout("disableBack()", 0);
            window.onunload = function () { null };

            function setColor(color){
             document.getElementById(color).style.color="red";
            }

    </script>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body bgcolor='black'>
    <form method="POST" action = "/problem/48f0451642fac41729a383822aaa8dae">
        <input type="text" id="input", name="user_answer" style="margin:30px" onfocus="setColor(this.id)"/>
        <input type="submit" style="position: absolute; left: -9999px"/>
    </form> 
    <div class="side" style="color:red; font-size:150%; font-family: font2;">
        It's unlocked.<br><br>
        There was nothing special in the chat room except for one message <br><br>
        that failed to be transmitted.<br><br>
        "Someone joined the agency".<br><br>
        I calmed down my surprise and called the head of the building <br><br>
        to explain the situation to find out what happened.<br><br>
        The manager, who was half in doubt, heard my trembling voice again,<br><br>
        He said he would send CCTV the previous day by e-mail.<br><br>
        My email is...<br><br>
        [Qn]<br><br>
        1001101000110010101010111<br><br>
         [Type]<br><br>
         ?@asleep.ai<br><br>
        </div>  
<div class="middle">

    <div class="typing-txt">
    <ul>
    <li> 덜컥 잠금이 풀렸다.</li>
    <li>카톡방에는 전송이 실패된 메시지 하나 외에는 특별한 것이 없었다.</li>
     <li>"누군가 회사에 들어왔어"</li>
      <li>놀란 마음을 진정시키고, 무슨 일이 있었는지 알아보기 위해 건물 관리소장님께 전화를 걸어 상황을 설명했다.</li>
       <li>반신반의하던 관리소장은 나의 떨리는 목소리를 재차 듣고는, </li>
       <li>이메일로 전날 CCTV를 보내주겠다고 한다.</li>
       <li>내 이메일은 </li>
       <li>[문제]</li>
    <li>1001101000110010101010111</li>
    <li>[Type]</li>
    <li>?@asleep.ai</li>
    </ul>
    </div>
<div class="typing" style="color:red; font-size:200%;">
   <ul>
     <li></li>
     <li></li>
     <li></li>
        <li></li>
        <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>
     <li></li>

  </ul>
</div> 
</div>
</body>
</html>
