

<!DOCTYPE html>
<html>

<head>
    <title>problem</title>
    <meta http-equiv="expires" content="0">
    <script type="text/javascript">
            function disableBack() { window.history.forward(); }
            setTimeout("disableBack()", 0);
            window.onunload = function () { null };

            function setColor(color){
             document.getElementById(color).style.color="red";
            }

    </script>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body bgcolor='black'>
  <div class="side" style="color:red; font-size:150%; font-family: font2;">
    You have to create the right altar for your team. <br><br>
    Find the spell to summon the altar and move it yourself.<br><br>
    4 - Freddie = d<br><br>
    2 - Tyler = y<br><br>
    3 - Lea = a<br><br>
    4- (youngest), 2- (the oldest among C-levels), 3- (female member)<br><br>
    [Type]<br><br>
    There is no next page. You have to find your own way. problem/?<br><br>
    </div>
<div class="middle">

    <div class="typing-txt">
    <ul>
    <li> 본인 팀의 맞는 제단을 생성해야합니다. 제단을 소환할 주문을 찾아 직접 이동하시오. </li>
      <li>  4 - Freddie = d</li>
      <li>  2 - Tyler = y</li>
      <li>  3 - Lea = a</li>
      <li>  4-(팀의 C레벨), 2-(팀내에서 가장 어린 사람), 3-(팀내에서 에이슬립에 가장 늦게 들어온 사람)</li>
      <li>[Type]</li>
     <li> 다음 페이지가 없습니다. 스스로 길을 찾아야 합니다. problem/?  </li>
 
    </ul>
    </div>
<div class="typing" style="color:red; font-size:200%;">
   <ul>
     <li></li>
     <li></li>
     <li></li>
        <li></li>
        <li></li>
     <li></li>
     <li></li>
  

  </ul>
</div> 
</div>
</body>
</html>
