

<!DOCTYPE html>
<html>

<head>
    <title>problem</title>
    <meta http-equiv="expires" content="0">
    <script type="text/javascript">
            function disableBack() { window.history.forward(); }
            setTimeout("disableBack()", 0);
            window.onunload = function () { null };

            function setColor(color){
             document.getElementById(color).style.color="red";
            }

    </script>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body bgcolor='black'>
    <form method="POST" action = "/problem/6e61aa27e995834984a4bc1c12d254a1">
        <input type="text" id="input", name="user_answer" style="margin:30px" onfocus="setColor(this.id)"/>
        <input type="submit" style="position: absolute; left: -9999px"/>
    </form> 
    <div class="side" style="color:red; font-size:150%; font-family: font2;">
        The phone ringing at this time - click click <br><br>
        Prepare an altar <br><br>
        and perform a ritual to defeat the evil energy of Eel-Divad (El-Divad).<br><br>
        Don't wonder who I am.<br><br>
        However, I should test whether you have the ability to solve this curse.<br><br>
        Guess the questions I ask without stopping the call.<br><br>
        I'll tell you what you need. The altar is located on the roof.<br><br>
        Keep that in mind.<br><br>
        Only one person can go when going in front of the sacred altar.<br><br>
        Also, you should not bring any electronic devices with you.<br><br>
        </div>  
<div class="middle">
    <div class="typing-txt">
    <ul>
    <li> 이때 울리는 전화벨 소리 - 딸깍 </li>
     <li> Eel-Divad (엘 디바드)의 사악한 기운을 물리치기 위해 제단을 준비하고 제를 올려라.</li>
      <li>내가 누구인지는 궁금해하지 말고. </li>
      <li>단, 네가 이 저주를 풀 능력이 있는지 시험해야겠다. </li>
      <li>통화를 끊지 않은 채로 내가 내는 문제를 차례로 맞춰라. </li>
      <li>필요한 물건이 무엇인지 알려주겠다. 제단은 옥상에 위치한다. </li>
     <li>명심해라. </li>
     <li>신성한 제단 앞에 갈때는 단 한명만이 갈 수 있다. </li>
 <li>또한 그 어떠한 전자기기도 가지고 가서는 안된다. </li>
 
    </ul>
    </div>
<div class="typing" style="color:red; font-size:200%;">
   <ul>
     <li></li>
     <li></li>
     <li></li>
        <li></li>
        <li></li>
     <li></li>
             <li></li>
        <li></li>
     <li></li>

  </ul>
</div> 
</div>
</body>
</html>
