

<!DOCTYPE html>
<html>

<head>
    <title>problem</title>
    <meta http-equiv="expires" content="0">
    <script type="text/javascript">
            function disableBack() { window.history.forward(); }
            setTimeout("disableBack()", 0);
            window.onunload = function () { null };

            function setColor(color){
             document.getElementById(color).style.color="red";
            }

    </script>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body bgcolor='black'>
    <form method="POST" action = "/problem/541aadd9accadb1b5757a867e1b97186">
        <input type="text" id="input", name="user_answer" style="margin:30px" onfocus="setColor(this.id)"/>
        <input type="submit" style="position: absolute; left: -9999px"/>
    </form>   

    <div class="side" style="color:red; font-size:150%; font-family: font2;">
        I don't know what it's about, <br><br>
        but it's kind of weird to check someone else's phone.<br><br>
        The moment I thought that, <br><br>
        black smoke surrounded me and I lost my memory at that moment.<br><br>
        What happens to me?<br><br>
        [Qn]<br><br>
         XMMIB→ Apple<br><br>
         EF → ✋<br><br>
         XPIBBM → Asleep<br><br>
        PQXOQ → ?<br><br>
        [Type]<br><br>
        English<br><br>
    </div>
    <div class="middle">
    <div class="typing-txt">
    <ul>
    <li> 무슨 내용일지도 모르는데 다른 사람의 폰을 확인하는건 좀 그렇지.  </li>
     <li>라고 생각하는 순간, 검은 연기가 나를 감싸더니 그 순간 기억을 잃었다.</li>
      <li>나는 어떻게 되는거지? </li>
      <li>[문제]</li> 
       <li>XMMIB→ Apple, EF → ✋, XPIBBM → Asleep</li>
       <li>PQXOQ → ? </li>
       <li>[Type]</li>
       <li>영어</li>

    </ul>
    </div>
<div class="typing" style="color:red; font-size:200%;">
   <ul>
     <li></li>
     <li></li>
     <li></li>
        <li></li>
        <li></li>
        <li></li>
     <li></li>
     <li></li>
  </ul>
</div> 
</div>
</body>
</html>
