

<!DOCTYPE html>
<html>

<head>
    <title>problem</title>
    <meta http-equiv="expires" content="0">
    <script type="text/javascript">
            function disableBack() { window.history.forward(); }
            setTimeout("disableBack()", 0);
            window.onunload = function () { null };

            function setColor(color){
             document.getElementById(color).style.color="red";
            }

    </script>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.js"></script>
    <script src="../static/js/script.js"></script>

</head>
<body bgcolor='black'>
    <form method="POST" action = "/problem/bbb795627678d1e76c31869ba885283f">
        <input type="text" id="input", name="user_answer" style="margin:30px" onfocus="setColor(this.id)"/>
        <input type="submit" style="position: absolute; left: -9999px"/>
    </form> 
    <marquee Scrollamount=40 direction="left" loop="1">
      <img src="../static/images/david.png" id="image" >
      </marquee>  
    <div class="side" style="color:red; font-size:150%; font-family: font2;">
      "Ring".<br><br>
      The mail has arrived.<br><br>
      As I was quietly checking the CCTV footage attached to the mail, I encountered an incredible sight.<br><br>
      A man with a black cape <br><br>
      that is hard to believe as a modern man.<br><br>
      This man appears,<br><br>
      Those who remained at work collapsed at their desks as if they were fainting.<br><br>
      As if talking to me, the man staring at the CCTV showed me a card <br><br>
      and went into the sleeping room.<br><br>
      It never came out again.<br><br>
      Is he still in the sleeping room?<br><br>
      [Qn]<br><br>
      Left of 2 -Middle of 3<br><br>
      [Type]<br><br>
      Korean.<br><br>
      </div>  
<div class="middle">
    <div class="typing-txt">
    <ul>
    <li> "띠링" </li>
     <li>메일이 도착했다. </li>
     <li>숨죽이며 메일에 첨부된 CCTV 영상을 확인하던 나는 믿을 수 없는 광경을 마주했다. </li>
      <li>현대인이라고 믿기 힘든 행색의 검은 망토의 남자. </li>
      <li>이 남자가 나타나고, </li>
      <li>회사에 남아있던 사람들은 일순간 기절하듯 책상에 쓰러졌다. </li>
      <li>마치 나에게 말을 하는듯이 CCTV를 응시하던 남자는 카드를 한장 보여주더니 수면실에 들어갔다 </li>
      <li>다시는 나오지 않았다.</li> 
      <li>설마 지금도 수면실에 있는걸까? </li>
      <li>[문제]</li>
    <li>Left of 2 -Middle of 3</li>
    <li>[Type]</li>
    <li>한글 </li>
    </ul>
    </div>
<div class="typing" style="color:red; font-size:200%;">
   <ul>
     <li></li>
     <li></li>
     <li></li>
        <li></li>
        <li></li>
     <li></li>
     <li></li>
       <li></li>
       <li></li>
       <li></li>
         <li></li>
         <li></li>
  </ul>
</div> 
</div>
</body>
</html>
